<h3>Hello Jesse,</h3>

<p>It's a fine day for someone to contact you ;)</p>


<p>Contact details:</p>
<ul>
  <li>Name: <%= @lead.name %></li>
  <li>Email: <%= @lead.email %></li>
  <li>Website: <a href="<%= @lead.website %>"><%= @lead.website %></a></li>
</ul>

<p>Message:</p>
<p><%= @msg %></p>
