<section id="customers" class="section background-gray-lightest padding--small">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="customer">
          <%= image_tag("customers/kofola.png", title: "Kofola", class: "img-responsive", data: {placement: "bottom", toggle: "tooltip"}) %>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="customer">
          <%= image_tag("customers/evian.png", title: "Evian", class: "img-responsive", data: {placement: "bottom", toggle: "tooltip"}) %>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="customer">
          <%= image_tag("customers/cslink.png", title: "CS Link", class: "img-responsive", data: {placement: "bottom", toggle: "tooltip"}) %>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="customer">
          <%= image_tag("customers/botas66.png", title: "Botas 66 Concept store", class: "img-responsive", data: {placement: "bottom", toggle: "tooltip"}) %>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="customer">
          <%= image_tag("customers/mdfc.png", title: "MediaFabríca", class: "img-responsive", data: {placement: "bottom", toggle: "tooltip"}) %>
        </div>
      </div>
      <div class="col-sm-4 col-md-2 col-xs-6">
        <div class="customer">
          <%= image_tag("customers/vanek.png", title: "VANĚK Strojírenská výroba", class: "img-responsive", data: {placement: "bottom", toggle: "tooltip"}) %>
        </div>
      </div>
    </div>
  </div>
</section>