<li class="item">
  <div class="testimonial same-height-always">
    <div class="text">
      <p><%= raw(testimonial.content) %></p>
    </div>
    <div class="bottom">
      <div class="testimonial-icon"> <i class="pe-7s-comment"></i></div>
      <div class="name-picture">
        <div class="col-xs-8 col-md-8" style="padding:0;margin-right:-5px;">
          <h5><%= testimonial.name %></h5>
          <p style="margin-left:-30px;"><%= testimonial.position %><br><%= testimonial.company %></p>
        </div>
        <div class="col-xs-4 col-md-4" style="padding:0">          
          <%= image_tag(testimonial.image_url) %>
        </div>
      </div>
    </div>
  </div>
</li>