<div id="all">
  
  <%= render :partial => "intro" %>

  <%= render :partial => "brand_icons" %>

  <%= render :partial => "about" %>

  <%= render :partial => "services" %>
  
  <%= render :partial => "testimonials" %>

  <%= render :partial => "inline_optin" %>

  <%= render :partial => "contact" %> 
  
</div>